@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;
@use "./mixin" as *;
.musicians {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  &__head {
    width: 100%;
    @include flex-center;
    justify-content: center;
  }

  &__section {
    width: 90%;
    @include media-tablet {
      min-width: 70%;
      padding: 2rem;
    }

    @include media-desktop {
      @include flex-center;
      justify-content: center;
      flex-direction: column;
    }
  }
  &__container {
    @include media-desktop {
      @include flex-center;
      justify-content: center;
      flex-direction: column;
      width: 63.75rem;
    }
  }

  &__header {
    color: $primarycolor;
    font-size: 1.5rem;
    @include font-bold;
    padding: 1rem 0 0.5rem 0rem;
    width: 100%;

    @include media-tablet {
      font-size: 2.5rem;
      width: 90%;
    }

    @include media-desktop {
      width: 63.75rem;
      font-size: 3rem;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-desktop {
      @include flex-center;
      justify-content: center;
      width: 100%;
    }
  }
  &__band {
    width: 100%;

    @include media-desktop {
      min-width: 70%;
    }
  }

  &__caption-wrapper {
    @include media-desktop {
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }
  }

  &__caption {
    @include media-desktop {
      width: 70%;
    }
  }
  &__bold {
    padding-top: 1rem;
    @include font-bolder;

    @include media-desktop {
      font-size: 1.5rem;
    }
  }

  &__bryan {
    padding-top: 1rem;
    font-weight: 500;

    @include media-desktop {
      font-size: 1.2rem;
      padding-bottom: 1.5rem;
    }
  }

  &__intro {
    padding: 1rem 0 2rem 0;
    @include font-bolder;

    @include media-desktop {
      font-size: 1.5rem;
    }
  }

  &__text {
    @include media-tablet {
      @include flex-between;
    }
  }
  &__textbox {
    padding-bottom: 1rem;
    @include media-tablet {
      width: 48%;
    }
    @include media-desktop {
      font-size: 1.2rem;
    }
  }
}
