@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;
@use "./mixin" as *;

.musicians {
  margin: 1rem;
  @include media-tablet {
    padding: 2rem;
  }

  &__header {
    color: $primarycolor;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: "AvenirNext";
    font-weight: 600;
    @include media-tablet {
      font-size: 2.5rem;
    }
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__caption {
    .text-bold {
      padding-top: 1rem;
      font-weight: 600;
      font-family: "AvenirNext";
    }
  }
  .text-bryan {
    @include media-tablet {
      padding-top: 1rem;
    }
  }
  .intro {
    @include media-tablet {
      padding: 1rem;
    }
  }

  &__text {
    @include media-tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.text-box {
  @include media-tablet {
    width: 45%;
  }
}

.gallery {
  margin: 1rem;
  &__title {
    h2 {
      font-size: 2rem;
    }
  }
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .img {
      width: 100%;
      margin-top: 1rem;
      @include media-tablet {
        justify-content: space-between;
        width: 30%;
      }
    }
  }
}
