@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;
@use "./mixin" as *;

.musicians {
  margin: 1rem;

  @include media-tablet {
    padding: 2rem;
  }

  @include media-desktop {
    @include flex-center;
    justify-content: center;
    flex-direction: column;
  }

  &__container {
    @include media-desktop {
      @include flex-center;
      justify-content: center;
      flex-direction: column;
      width: 63.75rem;
    }
  }

  &__header {
    color: $primarycolor;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: "AvenirNext";
    font-weight: 600;
    padding: 2rem 0 0 1rem;
    width: 100%;
    @include media-tablet {
      font-size: 2.5rem;
    }

    @include media-desktop {
      width: 63.75rem;
      padding-left: 1rem;
      margin-right: 12rem;
      font-size: 3rem;
    }
  }

  &__img {
    @include media-desktop {
      @include flex-center;
      justify-content: center;
      width: 100%;
    }

    .band {
      width: 100%;

      @include media-desktop {
        min-width: 70%;
      }
    }
  }

  &__caption-wrapper {
    @include media-desktop {
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }
  }

  &__caption {
    @include media-desktop {
      width: 90%;
    }

    .text-bold {
      padding-top: 1rem;
      @include font-bolder;
      @include media-desktop {
        font-size: 1.5rem;
      }
    }
  }

  .text-bryan {
    padding-top: 1rem;
    font-weight: 400;

    @include media-desktop {
      font-size: 1.2rem;
    }
  }

  .intro {
    padding: 1rem 0 2rem 0;
    @include font-bolder;
    @include media-desktop {
      font-size: 1.5rem;
    }
  }

  &__text {
    @include media-tablet {
      @include flex-center;
      justify-content: space-between;
    }
  }
}

.text-box {
  padding-bottom: 1rem;
  @include media-tablet {
    width: 48%;
  }
  @include media-desktop {
    font-size: 1.2rem;
  }
}

.about-header {
  width: 100%;
  @include flex-center;
  justify-content: center;
}
