@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;
@use "./mixin" as *;

.conversation {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include media-desktop {
      width: 63.75rem;
    }
  }

  &__header-wrapper {
    width: 90%;
  }

  &__header {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    width: 90%;
    flex-direction: column;
  }

  &__box {
    display: flex;
    width: 100%;
    border-bottom: 1px solid $secondarycolor2;
    margin-bottom: 1rem;
  }

  &__label-wrapper {
    display: flex;
    align-items: flex-start;
    width: 90%;
  }

  &__label {
    color: $secondarycolor2;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__form-wrapper {
    width: 100%;
  }

  &__name,
  &__comment {
    width: 90%;
  }

  &__form-avatar {
    padding-top: 10%;
  }

  &__img {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
  }

  &__btn {
    background-color: $primarycolor;
    color: $secondarycolor3;
    border-radius: 0.5rem;
    @include font-bold;
    font-size: 1rem;
    padding: 0.5rem;
    width: 90%;
  }
  &__fullname,
  &__commentbox {
    width: 100%;
    @include font-normal;
    background-color: $secondarycolor2;
    border: $primarycolor2 1px solid;
    padding: 0.5rem;
  }

  &__commentbox {
    height: 6rem;
  }

  &__input-box {
    width: 80%;
  }

  &__fullname {
    height: 2.5rem;
  }

  &__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid $secondarycolor2;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    min-width: 100%;
  }

  &__avatar {
    padding-top: 1rem;
  }

  &__avatar-img {
    height: 2.5rem;
    width: 2.5rem;
    background-color: $primarycolor2;
    border-radius: 100%;
    padding-top: 2rem;
  }

  &__headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
