@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;
@use "./mixin" as *;

.conversation {
  &__section {
    height: 30vh;
  }
  &__header {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid $secondarycolor2;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}
.name,
.comment,
.btn {
  width: 80%;
  padding: 0.5rem;
  margin: 0.5rem;
}

.btn {
  background-color: $primarycolor;
  color: $secondarycolor3;
  border-radius: 0.5rem;
  @include font-bold;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.form__subheader {
  color: $primarycolor2;
  padding: 0.5rem 0;
}

.form__container {
  display: flex;
  align-items: flex-start;
  width: 80%;
}
.name {
  background-color: $secondarycolor2;
}
.conversation {
  height: 116vh;
  background-color: $secondarycolor2;
}
