@font-face {
  font-family:"AvenirNextLTPro" ;
  src: url("/assets/Font/alternative-files/AvenirNextLTPro.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("./assets/Font//AvenirNextLTPro-Demi.otf") format("otf");
  font-style: normal;
  font-weight: 500;
  }
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("./assets/Font/AvenirNextLTPro-Bold.otf") format("otf");
  font-style: normal;
  font-weight: 700;
}