@use "./mixin" as *;
@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;

.footer {
  color: white;
  background-color: $primarycolor;
  padding: 1rem;

  @include media-desktop {
    @include flex-center;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    @include media-desktop {
      align-items: center;
      justify-content: center;
    }
  }

  &__header-wrapper {
    @include media-tablet {
      display: flex;
      width: 100%;
      flex-direction: row;
    }

    @include media-desktop {
      width: 68rem;
    }
  }

  &__header-container {
    @include media-tablet {
      width: fit-content;
    }
  }

  &__header {
    font-size: 1.5rem;

    @include media-tablet {
      width: 100%;
      padding: 1rem 1rem 0 0;
      font-size: 2rem;
    }
    @include media-desktop {
      width: fit-content;
    }
  }

  &__icons {
    @include flex-center;
    width: 55%;
    justify-content: flex-start;
    padding: 1rem 0 1rem 0;

    @include media-tablet {
      padding-top: 1.5rem;
      justify-content: space-evenly;
      width: 20%;
    }

    .icon--padding {
      width: 2rem;
    }
    .icon {
      width: 1.5rem;
    }

    .icon-f {
      height: 1.5rem;
      padding: 0 2rem;
    }
  }

  &__box {
    @include media-tablet {
      @include flex-center;
      flex-direction: row;
      justify-content: center;
    }
    @include media-desktop {
      justify-content: flex-start;
      width: 68rem;
    }
  }

  &__container1 {
    @include media-tablet {
      width: 33%;
    }

    @include media-desktop {
      width: 25%;
    }
  }

  &__container2 {
    @include media-tablet {
      width: 33%;
    }

    @include media-desktop {
      width: 25%;
      padding: 0;
    }
  }

  &__container3 {
    @include media-tablet {
      // padding: 1rem;
      width: 33%;
    }

    @include media-desktop {
      width: 25%;
    }
  }

  &__address {
    padding-top: 1rem;

    .address {
      @include media-tablet {
        padding-bottom: 1rem;
      }
    }
  }

  &__pearl {
    padding: 1rem 0 1rem 0;
  }

  &__subheader {
    @include font-bold;
    padding: 1rem 0 1rem 0;
  }

  &__logo {
    padding-top: 3rem;

    @include media-tablet {
      display: none;
    }

    @include media-desktop {
      width: 100%;
    }
  }

  &__logo-tablet {
    display: none;

    @include media-tablet {
      width: 50%;
      @include flex-center;
      justify-content: flex-end;
    }

    @include media-desktop {
      width: 60%;
    }
  }

  &__text {
    .text-uk {
      @include media-tablet {
        padding: 1rem 0;
      }
    }
  }
  .info,
  .carson,
  .pearl {
    text-decoration: none;
    color: $primarycolor3;
  }
  &__copywrite {
    font-size: 0.9rem;
    padding-top: 2rem;
    @include media-desktop {
      width: 68rem;
    }
  }
}
