@use "./mixin" as *;
@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;

.footer {
  margin: 1rem 0 0 0;
  color: white;
  background-color: $primarycolor;
  padding: 1rem;
  @include media-desktop {
    padding-left: 2rem;
    margin: 2rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header-box {
    @include media-tablet {
      width: 30%;
    }
    @include media-desktop {
      width: fit-content;
    }
  }

  &__header-container {
    @include media-tablet {
      display: flex;
      width: 100%;
      flex-direction: row;
    }
    @include media-desktop {
      width: 63.75rem;
    }
  }

  &__header {
    font-size: 1.5rem;

    @include media-tablet {
      width: 100%;
      padding-top: 1rem;
      font-size: 2rem;
    }
    @include media-desktop {
      width: fit-content;
    }
  }

  &__icons {
    @include flex-center;
    width: 55%;
    justify-content: space-between;
    padding: 1rem 0 2rem 0;

    @include media-tablet {
      padding: 1rem 0 1rem 0;
      width: 40%;
    }
    @include media-desktop {
      justify-content: space-evenly;
      width: 20%;
    }

    .icon--padding {
      width: 2rem;
    }

    .icon-f {
      height: 1.5rem;
    }
  }

  &__address {
    padding-top: 1rem;
    .address {
      @include media-tablet {
        padding: 1rem 0;
      }
    }
  }

  &__copywrite {
    font-size: 0.7rem;
    padding-top: 1rem;
  }

  &__box {
    @include media-tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    @include media-desktop {
      justify-content: flex-start;
    }
  }

  &__pearl {
    padding: 1rem 0 1rem 0;
    @include media-tablet {
      padding: 2rem 0 1rem 0;
    }
  }

  &__container2 {
    @include media-tablet {
      width: 33%;
      padding: 1rem 1rem 0 1rem;
    }
    @include media-desktop {
      width: 20%;
    }
  }

  &__container3 {
    @include media-tablet {
      padding: 1rem;
      width: 33%;
    }
    @include media-desktop {
      width: 20%;
    }
  }

  &__container1 {
    @include media-tablet {
      padding: 1rem;
      width: 33%;
    }
    @include media-desktop {
      width: 20%;
    }
  }

  &__subheader {
    font-family: "AvenirNext";
    font-weight: 600;
    padding: 1rem 0 1rem 0;
  }

  &__logo {
    padding-top: 3rem;
    @include media-tablet {
      display: none;
    }
    @include media-desktop {
      width: 100%;
    }
  }

  &__logo-tablet {
    display: none;
    @include media-tablet {
      width: 50%;
      display: contents;
    }
    @include media-desktop {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__text {
    .text-uk {
      @include media-tablet {
        padding: 1rem 0;
      }
    }
  }
}
