@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;
@use "./mixin" as *;

.gallery {
  background-color: $secondarycolor3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &__wrapper {
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media-tablet {
      margin: 0 auto;
    }
    @include media-desktop {
      margin: 0;
      width: 63.75rem;
      @include flex-center;
      justify-content: center;
    }
  }

  &__title {
    h2 {
      font-size: 2rem;

      @include media-tablet {
      }
    }

    @include media-desktop {
      font-size: 3rem;
      width: 100%;
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;

    @include media-tablet {
      width: 100%;
      padding-left: 1rem;
    }

    @include media-desktop {
      padding-left: 0;
    }
  }

  &__container {
    width: 90%;
    @include flex-center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $secondarycolor3;
    padding-bottom: 1rem;

    @include media-tablet {
      width: 100%;
      justify-content: space-evenly;
    }
  }
  &__img {
    width: 100%;
    margin-top: 1rem;
    background-color: $secondarycolor3;

    @include media-tablet {
      width: 30%;
      margin-top: 1.5rem;
    }

    @include media-desktop {
      filter: grayscale(100);
      transition: 500ms ease;
    }
  }

  :hover {
    filter: grayscale(0);
  }
}
