@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;
@use "./mixin" as *;

.media {
  background-image: url(/assets/Images/hero-shows.jpg);
  @include hero;
  @include flex-center;
  justify-content: space-around;
}
.hero {
  background-image: url(/assets/Images/hero-bio.jpg);
  @include hero;
  @include flex-center;
  &__section {
    flex-wrap: wrap;
    @include media-desktop {
      width: 63.75rem;
      @include flex-center;
      justify-content: flex-start;
    }
  }

  &__title {
    @include font-bold;
    font-size: 1.5rem;
    @include flex-center;
    color: $primarycolor3;
    padding-left: 1.5rem;
    width: 85%;

    @include media-tablet {
      font-size: 3rem;
    }

    @include media-desktop {
      font-size: 4rem;
    }
  }

  &__subheader {
    color: $primarycolor3;
    @include flex-center;
    width: 85%;
    padding: 0 0 1.5rem 1.5rem;
    @include media-desktop {
      font-size: 1.5rem;
      @include font-bold;
    }
  }
}
