@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;
@use "./mixin" as *;

.hero {
  background-image: url(/assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh;
  @include flex-center;
  @include media-tablet {
    height: 40vh;
  }

  &__title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: $primarycolor3;
    padding-left: 1.5rem;
    font-weight: 500;
    @include media-tablet {
      font-size: 3rem;
      font-family: "AvenirNext";
      font-weight: 600;
    }
  }
}
