@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;
@use "./mixin" as *;

.hero {
  background-image: url(/assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh;
  opacity: 90%;

  @include flex-center;
  @include media-tablet {
    height: 40vh;
  }
  @include media-desktop {
    height: 80vh;
    justify-content: center;
  }

  &__section {
    @include media-desktop {
      width: 63.75rem;
      height: 100%;
      @include flex-center;
      justify-content: flex-start;
      margin-right: 12rem;
    }
  }

  &__title {
    @include font-bold;
    font-size: 1.5rem;
    @include flex-center;
    color: $primarycolor3;
    padding-left: 1.5rem;
    @include media-tablet {
      font-size: 3rem;
    }
    @include media-desktop {
      font-size: 6rem;
    }
  }
}
