@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;
@use "./mixin" as *;

.navbar {
  padding-top: 1rem;
  background-color: $primarycolor;
  @include flex-center;
  justify-content: center;

  &__wrapper {
    padding-top: 0.8rem;
    @include flex-center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $primarycolor;

    @include media-tablet {
      width: 100%;
      flex-wrap: nowrap;
      padding: 0;
    }

    @include media-desktop {
      width: 63.75rem;
      justify-content: center;
      height: 5rem;
    }
  }

  &__container {
    @include media-tablet {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
    }

    @include media-tablet {
      width: 90%;
      justify-content: flex-start;
    }

    @include media-desktop {
      width: 63.75rem;
    }
  }

  &__header {
    width: 100vw;
    text-align: center;
    color: $primarycolor3;

    @include media-tablet {
      width: fit-content;
      padding-top: 1rem;
    }

    @include media-desktop {
      padding-top: 1.7rem;
    }
  }

  &__logo {
    width: 8.5rem;
    cursor: pointer;
    transition: 0.8s ease;
    @include media-desktop {
      width: 7rem;
    }
  }

  &__logo:hover {
    @include media-desktop {
      scale: 1.2;
    }
  }

  &__subheader-container {
    width: 100%;
    @include flex-evenly;
    color: $primarycolor3;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-tablet {
      width: 40vw;
    }

    @include media-desktop {
      padding-left: 3rem;
      width: 20vw;
      height: 5rem;
    }
  }

  &__subheader {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-desktop {
      transition: 500ms ease;
      height: 100%;
      padding-top: 2rem;
      :hover {
        width: 49%;
        border-bottom: white solid 5px;
        @include font-bolder;
      }
    }

    &--active {
      border-bottom: 0.3rem $primarycolor3 solid;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-tablet {
        padding: 1rem 0 1rem 0;
      }

      @include media-desktop {
        height: 100%;
        padding-top: 2rem;
        transition: 500ms ease;
      }
    }
  }

  &__biography,
  &__shows {
    color: $primarycolor3;
    text-decoration: none;
    display: block;
    height: 100%;
    padding-top: 1rem;
    width: 100%;
    text-align: center;

    @include media-tablet {
      padding: 0;
    }
  }
}
