@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;
@use "./mixin" as *;

.navbar {
  padding-top: 0.8rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: $primarycolor;
  @include media-tablet {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
  }
  &__container {
    @include media-tablet {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
    }
  }

  &__header {
    width: 100vw;
    text-align: center;
    color: $primarycolor3;
    @include media-tablet {
      width: fit-content;
      padding-left: 2rem;
      padding-top: 1rem;
    }
  }
  &__logo {
    width: 8.5rem;
  }
  &__subheader-container {
    width: 100%;
    @include flex-evenly;
    color: $primarycolor3;
    list-style: none;
    @include media-tablet {
      width: 40vw;
    }
  }

  &__subheader-active {
    border-bottom: 0.3rem $primarycolor3 solid;
    width: 50%;
    text-align: center;
    color: $primarycolor3;

    @include media-tablet {
      width: 25%;
      padding: 1rem 0 1rem 0;
    }

    a {
      color: $primarycolor3;
      text-decoration: none;
      width: 100%;
      display: block;
      height: 100%;
      padding: 1rem 0 0 0;
      @include media-tablet {
        padding: 0;
      }
    }

    h2 {
      padding-bottom: 1rem;
    }
  }
  &__subheader {
    width: 50%;
    text-align: center;
    a {
      color: $primarycolor3;
      color: $primarycolor3;
      text-decoration: none;
      width: 100%;
      display: block;
      height: 100%;
      padding: 1rem 0 0 0;
      @include media-tablet {
        padding: 0;
        width: 25%;
      }
    }
  }
}
