@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;
@use "./mixin" as *;

.tickets {
  height: 70vh;

  &__header {
    display: flex;
    height: 15%;
    align-items: center;
    padding-left: 1.5rem;

    .head {
      @include font-bolder;
      font-size: 1.5rem;
    }
    @include media-tablet {
      height: 25%;
      display: flex;
      align-items: center;
      justify-content: center;

      .head {
        font-size: 2.5rem;
        width: 63.75rem;
      }
    }
  }
}
