@use "./variables" as *;
@use "./resets" as *;
@use "./fonts" as *;
@use "./mixin" as *;

.tickets {
  @include flex-center;
  justify-content: center;
  flex-direction: column;

  @include media-tablet {
    height: 25%;
    @include flex-center;
    justify-content: space-evenly;
    font-size: 2.5rem;
  }

  @include media-desktop {
    width: 100%;
  }

  &__wrapper {
    width: 100%;
    @include flex-center;
    justify-content: center;
    flex-direction: column;

    @include media-desktop {
      max-width: 63.75rem;
    }
  }

  &__header {
    @include flex-center;
    width: 90%;
  }

  &__head {
    font-weight: 700;
    padding: 2rem 0 0 0;
    @include font-bolder;
    font-size: 1.5rem;

    @include media-tablet {
      font-size: 2rem;
    }
  }

  &__bookings {
    @include flex-center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 1rem 0;
    border-bottom: 1px solid $secondarycolor2;

    @include media-tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__date,
  &__venue,
  &__location {
    @include media-tablet {
      display: none;
    }
  }

  &__location-tablet,
  &__venue-tablet,
  &__date-tablet {
    display: none;

    @include media-tablet {
      display: contents;
    }
  }

  &__date-tablet {
    @include media-tablet {
      font-weight: bold;
    }
  }

  &__date-header,
  &__location-header,
  &__venue-header {
    font-size: 1rem;
    color: $primarycolor2;
    padding: 1rem 0;

    @include media-tablet {
      display: none;
    }
  }

  &__date-header {
    padding: 0 0 1rem 0;
    @include media-tablet {
      padding: 1rem 0;
    }
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #323232;
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;

    @include media-tablet {
      width: 20%;
    }
  }

  &__btn {
    background-color: $primarycolor;
    color: $primarycolor3;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;

    @include media-tablet {
      width: 100%;
      font-size: 1rem;
      margin: 0;
    }
  }

  &__labels {
    width: 90%;
    align-items: center;
    justify-content: space-between;
    display: none;

    @include media-tablet {
      display: flex;
    }
  }

  &__date-header-desktop,
  &__location-header-desktop {
    @include media-tablet {
      font-size: 1rem;
      width: 25%;
      color: $primarycolor2;
      padding-top: 1rem;
    }
  }

  &__empty-header-desktop,
  &__venue-header-desktop {
    @include media-tablet {
      width: 20%;
      font-size: 1rem;
      color: $primarycolor2;
    }
  }

  &__venue-tablet,
  &__location-tablet,
  &__date-tablet {
    @include media-tablet {
      font-size: 1rem;
    }
  }

  &__date-wrapper,
  &__location-wrapper {
    width: 25%;
  }

  &__venue-wrapper {
    width: 20%;
  }
}
