$primarycolor: #323232;
$primarycolor2: #afafaf;
$primarycolor3: #ffff;

$secondarycolor: #000000;
$secondarycolor2: #e1e1e1;
$secondarycolor3: #fafafa;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$general-spacing: 36px;
$side-spacing: 128px;
