@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Avenirbold";
  src: url("./assets/Font//AvenirNextLTPro-Demi.otf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Avenirbolder";
  src: url("./assets/Font/AvenirNextLTPro-Bold.otf");
  font-style: normal;
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "AvenirNext";
}

.navbar {
  padding-top: 0.8rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .navbar {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .navbar {
    align-items: center;
    justify-content: center;
    height: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .navbar__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__container {
    width: 63.75rem;
    justify-content: flex-start;
  }
}
.navbar__header {
  width: 100vw;
  text-align: center;
  color: white;
}
@media screen and (min-width: 768px) {
  .navbar__header {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 2rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__header {
    padding-top: 1.7rem;
  }
}
.navbar__logo {
  width: 8.5rem;
  cursor: pointer;
  transition: 0.8s ease;
}
@media screen and (min-width: 1280px) {
  .navbar__logo {
    width: 7rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__logo:hover {
    scale: 1.2;
  }
}
.navbar__subheader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .navbar__subheader-container {
    width: 40vw;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__subheader-container {
    width: 20vw;
    height: 5rem;
  }
}
.navbar__subheader-active {
  border-bottom: 0.3rem white solid;
  width: 50%;
  text-align: center;
  color: white;
}
@media screen and (min-width: 768px) {
  .navbar__subheader-active {
    width: 25%;
    padding: 1rem 0 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__subheader-active {
    height: 100%;
    padding-top: 2rem;
    transition: 500ms ease;
  }
}
.navbar__subheader-active .biography,
.navbar__subheader-active .shows {
  color: white;
  text-decoration: none;
  width: 100%;
  display: block;
  height: 100%;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .navbar__subheader-active .biography,
.navbar__subheader-active .shows {
    padding: 0;
  }
}
.navbar__subheader-active :hover {
  font-weight: 600;
}
.navbar__subheader {
  width: 50%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .navbar__subheader {
    width: 25%;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__subheader {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    padding-top: 2rem;
  }
}
.navbar__subheader .shows,
.navbar__subheader .biography {
  color: white;
  text-decoration: none;
  width: 100%;
  display: block;
  height: 100%;
  padding: 1rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .navbar__subheader .shows,
.navbar__subheader .biography {
    padding: 0;
    width: 25%;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__subheader .shows,
.navbar__subheader .biography {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transition: 500ms ease;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__subheader:hover {
    border-bottom: 0.3rem white solid;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    padding-top: 2rem;
    font-weight: bolder;
  }
}

.media {
  background-image: url(/assets/Images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh;
  opacity: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .media {
    height: 40vh;
  }
}
@media screen and (min-width: 1280px) {
  .media {
    height: 80vh;
  }
}

.hero {
  background-image: url(/assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh;
  opacity: 90%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 40vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 80vh;
  }
}
.hero__section {
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .hero__section {
    width: 63.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hero__title {
  font-family: "AvenirNext";
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 1.5rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 2rem;
    width: 40rem;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 63.75rem;
    font-size: 4rem;
    padding: 0;
  }
}
.hero__subheader {
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  width: 85%;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .hero__subheader {
    width: 40rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subheader {
    width: 63.75rem;
    font-size: 1.5rem;
    font-family: "AvenirNext";
    font-weight: 600;
    font-style: normal;
  }
}

.about-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .musicians {
    padding: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 63.75rem;
  }
}
.musicians__header {
  color: #323232;
  font-size: 1.5rem;
  font-family: "AvenirNext";
  font-weight: 600;
  font-style: normal;
  padding: 2.5rem 0 0.5rem 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .musicians__header {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__header {
    width: 63.75rem;
    padding-left: 1rem;
    margin-right: 12rem;
    font-size: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.musicians__img .band {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .musicians__img .band {
    min-width: 70%;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__caption-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__caption {
    width: 70%;
  }
}
.musicians__caption .text-bold {
  padding-top: 1rem;
  font-family: "AvenirNext";
  font-weight: 700;
  font-style: normal;
}
@media screen and (min-width: 1280px) {
  .musicians__caption .text-bold {
    font-size: 1.5rem;
  }
}
.musicians .text-bryan {
  padding-top: 1rem;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .musicians .text-bryan {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
  }
}
.musicians .intro {
  padding: 1rem 0 2rem 0;
  font-family: "AvenirNext";
  font-weight: 700;
  font-style: normal;
}
@media screen and (min-width: 1280px) {
  .musicians .intro {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .musicians__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.musicians__text .text-box {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .musicians__text .text-box {
    width: 48%;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__text .text-box {
    font-size: 1.2rem;
  }
}

.footer {
  color: white;
  background-color: #323232;
  padding: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    width: 63.75rem;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__header-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer__header-wrapper {
    width: 68rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__header-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.footer__header {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__header {
    width: 100%;
    padding: 1rem 1rem 0 0;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__header {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.footer__icons {
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: flex-start;
  padding: 1rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    padding-top: 1.5rem;
    justify-content: space-evenly;
    width: 20%;
  }
}
.footer__icons .icon--padding {
  width: 2rem;
}
.footer__icons .icon {
  width: 1.5rem;
}
.footer__icons .icon-f {
  height: 1.5rem;
  padding: 0 2rem;
}
@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer__box {
    justify-content: flex-start;
    width: 68rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__container1 {
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container1 {
    width: 25%;
  }
}
@media screen and (min-width: 768px) {
  .footer__container2 {
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container2 {
    width: 25%;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__container3 {
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container3 {
    width: 25%;
  }
}
.footer__address {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__address .address {
    padding-bottom: 1rem;
  }
}
.footer__pearl {
  padding: 1rem 0 1rem 0;
}
.footer__subheader {
  font-family: "AvenirNext";
  font-weight: 600;
  font-style: normal;
  padding: 1rem 0 1rem 0;
}
.footer__logo {
  padding-top: 3rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    width: 100%;
  }
}
.footer__logo-tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo-tablet {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo-tablet {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .footer__text .text-uk {
    padding: 1rem 0;
  }
}
.footer .info,
.footer .carson,
.footer .pearl {
  text-decoration: none;
  color: white;
}
.footer__copywrite {
  font-size: 0.9rem;
  padding-top: 2rem;
}
@media screen and (min-width: 1280px) {
  .footer__copywrite {
    width: 68rem;
  }
}

.gallery {
  background-color: #fafafa;
  padding: 2rem 1rem;
}
@media screen and (min-width: 1280px) {
  .gallery {
    margin: 0;
  }
}
.gallery__title h2 {
  font-size: 2rem;
}
@media screen and (min-width: 1280px) {
  .gallery__title h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.gallery__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fafafa;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__container {
    width: 92%;
  }
}
.gallery__container .img {
  width: 100%;
  margin-top: 1rem;
  background-color: #fafafa;
}
@media screen and (min-width: 768px) {
  .gallery__container .img {
    width: 30%;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__container .img {
    filter: grayscale(100);
    transition: 500ms ease;
  }
}
.gallery__container .img:hover {
  filter: grayscale(0);
}

.conversation__section {
  height: 30vh;
}
.conversation__header {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.name,
.comment,
.btn {
  width: 80%;
  padding: 0.5rem;
  margin: 0.5rem;
}

.btn {
  background-color: #323232;
  color: #fafafa;
  border-radius: 0.5rem;
  font-family: "AvenirNext";
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.form__subheader {
  color: #afafaf;
  padding: 0.5rem 0;
}

.form__container {
  display: flex;
  align-items: flex-start;
  width: 80%;
}

.name {
  background-color: #e1e1e1;
}

.conversation {
  height: 116vh;
  background-color: #e1e1e1;
}/*# sourceMappingURL=bio.css.map */