@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Avenirbold";
  src: url("./assets/Font//AvenirNextLTPro-Demi.otf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Avenirbolder";
  src: url("./assets/Font/AvenirNextLTPro-Bold.otf");
  font-style: normal;
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "AvenirNext";
}

.navbar {
  padding-top: 1rem;
  background-color: #323232;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__wrapper {
  padding-top: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .navbar__wrapper {
    width: 100%;
    flex-wrap: nowrap;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__wrapper {
    width: 63.75rem;
    justify-content: center;
    height: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .navbar__container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) {
  .navbar__container {
    width: 90%;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__container {
    width: 63.75rem;
  }
}
.navbar__header {
  width: 100vw;
  text-align: center;
  color: white;
}
@media screen and (min-width: 768px) {
  .navbar__header {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__header {
    padding-top: 1.7rem;
  }
}
.navbar__logo {
  width: 8.5rem;
  cursor: pointer;
  transition: 0.8s ease;
}
@media screen and (min-width: 1280px) {
  .navbar__logo {
    width: 7rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__logo:hover {
    scale: 1.2;
  }
}
.navbar__subheader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .navbar__subheader-container {
    width: 40vw;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__subheader-container {
    padding-left: 3rem;
    width: 20vw;
    height: 5rem;
  }
}
.navbar__subheader {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .navbar__subheader {
    transition: 500ms ease;
    height: 100%;
    padding-top: 2rem;
  }
  .navbar__subheader :hover {
    width: 49%;
    border-bottom: white solid 5px;
    font-family: "AvenirNext";
    font-weight: 700;
    font-style: normal;
  }
}
.navbar__subheader--active {
  border-bottom: 0.3rem white solid;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .navbar__subheader--active {
    padding: 1rem 0 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__subheader--active {
    height: 100%;
    padding-top: 2rem;
    transition: 500ms ease;
  }
}
.navbar__biography, .navbar__shows {
  color: white;
  text-decoration: none;
  display: block;
  height: 100%;
  padding-top: 1rem;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .navbar__biography, .navbar__shows {
    padding: 0;
  }
}

.media {
  background-image: url(/assets/Images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh;
  opacity: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35vh;
}
@media screen and (min-width: 768px) {
  .media {
    height: 40vh;
  }
}
@media screen and (min-width: 1280px) {
  .media {
    height: 80vh;
  }
}

.hero {
  background-image: url(/assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh;
  opacity: 90%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 40vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 80vh;
  }
}
.hero__background {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.3);
}
.hero__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero__section {
    width: 63.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .hero__section {
    align-items: flex-start;
  }
}
.hero__title-container {
  width: 90%;
}
@media screen and (min-width: 1280px) {
  .hero__title-container {
    width: 100%;
    display: flex;
  }
}
.hero__media {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__media {
    width: 90%;
    align-items: flex-start;
  }
}
.hero__title-wrapper {
  display: flex;
  align-items: flex-start;
  width: 90%;
  padding: 1rem 0;
}
@media screen and (min-width: 1280px) {
  .hero__title-wrapper {
    width: 60%;
  }
}
.hero__title {
  width: 70%;
  font-family: "AvenirNext";
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: white;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 2rem;
    width: 75%;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 100%;
    font-size: 3.3rem;
    padding: 0;
  }
}
.hero__title--biography {
  font-size: 1.5rem;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .hero__title--biography {
    font-size: 4rem;
  }
}
.hero__subheader-wrapper {
  width: 90%;
}
@media screen and (min-width: 768px) {
  .hero__subheader-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
  }
}
.hero__subheader {
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  width: 85%;
}
@media screen and (min-width: 768px) {
  .hero__subheader {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subheader {
    width: 63.75rem;
    font-size: 1.5rem;
    font-family: "AvenirNext";
    font-weight: 600;
    font-style: normal;
  }
}
.hero__soundcloud {
  height: 100px;
  width: 90%;
}
@media screen and (min-width: 1280px) {
  .hero__soundcloud {
    width: 40%;
    height: 130px;
    padding-left: 2rem;
  }
}
.hero__iframe {
  height: 100%;
}

.footer {
  color: white;
  background-color: #323232;
  padding: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    width: 63.75rem;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__header-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer__header-wrapper {
    width: 63.75rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__header-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.footer__header {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__header {
    width: 100%;
    padding: 1rem 4rem 0 0;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__header {
    padding: 1rem 2rem 0 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.footer__icons {
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: flex-start;
  padding: 1rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    padding-top: 1.5rem;
    justify-content: space-evenly;
    width: 20%;
  }
}
.footer__icon {
  width: 1.5rem;
}
.footer__icon-f {
  height: 1.5rem;
  padding: 0 2rem;
}
@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer__box {
    justify-content: flex-start;
    width: 63.75rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__container1 {
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container1 {
    width: 25%;
  }
}
@media screen and (min-width: 768px) {
  .footer__container2 {
    width: 33%;
    margin: 0 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container2 {
    width: 25%;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__container3 {
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container3 {
    width: 25%;
  }
}
.footer__add {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__address {
    padding-bottom: 1rem;
  }
}
.footer__agent {
  padding: 1rem 0 1rem 0;
}
.footer__subheader {
  font-family: "AvenirNext";
  font-weight: 600;
  font-style: normal;
  padding: 1rem 0 1rem 0;
}
.footer__logo {
  padding-top: 3rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    width: 100%;
  }
}
.footer__logo-tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo-tablet {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo-tablet {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .footer__text .text-uk {
    padding: 1rem 0;
  }
}
.footer__info, .footer__carson, .footer__pearl {
  text-decoration: none;
  color: white;
}
.footer__copywrite {
  font-size: 0.9rem;
  padding-top: 2rem;
}
@media screen and (min-width: 1280px) {
  .footer__copywrite {
    width: 63.75rem;
  }
}

.tickets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .tickets {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .tickets {
    width: 100%;
    flex-direction: row;
  }
}
.tickets__Container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .tickets__Container {
    flex-direction: row;
    width: 63.75rem;
  }
}
.tickets__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .tickets__wrapper {
    width: 20%;
    height: 36rem;
    justify-content: flex-start;
    align-items: center;
  }
}
.tickets__item-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tickets__header {
  display: flex;
  align-items: center;
  width: 90%;
}
@media screen and (min-width: 1280px) {
  .tickets__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.tickets__head {
  font-weight: 700;
  padding: 2rem 0 0 0;
  font-family: "AvenirNext";
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .tickets__head {
    font-size: 2rem;
  }
}
.tickets__bookings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.tickets__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.tickets__list article:hover {
  background-color: #fafafa;
}
.tickets__item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  padding: 1rem 0;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .tickets__item {
    flex-direction: row;
    justify-content: space-between;
  }
}
.tickets__item--active {
  background-color: #e1e1e1;
}
@media screen and (min-width: 1280px) {
  .tickets__item {
    width: 100%;
  }
}
.tickets .tickets__item--active,
.tickets .tickets__item--active:hover {
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .tickets__date, .tickets__venue, .tickets__location {
    display: none;
  }
}
.tickets__location-tablet, .tickets__venue-tablet, .tickets__date-tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .tickets__location-tablet, .tickets__venue-tablet, .tickets__date-tablet {
    display: contents;
  }
}
@media screen and (min-width: 768px) {
  .tickets__date-tablet {
    font-weight: bolder;
  }
}
.tickets__date-header, .tickets__location-header, .tickets__venue-header {
  font-size: 1rem;
  color: #afafaf;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .tickets__date-header, .tickets__location-header, .tickets__venue-header {
    display: none;
  }
}
.tickets__date-header {
  padding: 0 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .tickets__date-header {
    padding: 1rem 0;
  }
}
.tickets__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323232;
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .tickets__btn-wrapper {
    width: 20%;
  }
}
@media screen and (min-width: 1280px) {
  .tickets__btn-wrapper {
    margin-top: 0.5rem;
  }
}
.tickets__btn {
  background-color: #323232;
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border-radius: 0.5rem 2rem;
  padding: 0.5rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .tickets__btn {
    width: 100%;
    font-size: 1rem;
    margin: 0;
  }
}
.tickets__labels {
  width: 90%;
  align-items: center;
  justify-content: space-between;
  display: none;
}
@media screen and (min-width: 768px) {
  .tickets__labels {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .tickets__labels {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .tickets__date-header-desktop, .tickets__location-header-desktop {
    font-size: 1rem;
    width: 25%;
    color: #afafaf;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .tickets__empty-header-desktop, .tickets__venue-header-desktop {
    width: 20%;
    font-size: 1rem;
    color: #afafaf;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .tickets__venue-tablet, .tickets__location-tablet, .tickets__date-tablet {
    font-size: 1rem;
  }
}
.tickets__date-wrapper, .tickets__location-wrapper {
  width: 25%;
}
.tickets__venue-wrapper {
  width: 20%;
}/*# sourceMappingURL=shows.css.map */